.statistics {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 padding: 20px 0 0;
 border: var(--border-style);
 border-radius: 10px;
 width: 450px;
 background-color: var(--background-color)
}

.title {
 display: flex;
 background-color: var(--background-color);
 width: 424px;
 height: 100px;
 justify-content: center;
 align-items: center;
 text-transform: uppercase;
 margin: 0;
}

.stat-list {
 list-style: none;
 display: flex;
 padding: 0;
 margin: 0;
}

.item {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 5%;
 border: var(--border-style);
 width: 104px;
 height: 90px; 
}

li.item {
 color: var(--white-text);
}

li.item:nth-child(1) {
 background-color: var(--blue-color);
}

li.item:nth-child(2) {
 background-color: var(--pink-color);
}

li.item:nth-child(3) {
 background-color: var(--red-color);
}

li.item:nth-child(4) {
 background-color: var(--green-color);
}